.handControlsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0.5em 1em 1em 1em;
}

.handContainer {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
  margin-right: 2em;
}

.handsContainer {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 3em 0.5em 0em 0.5em;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.playerTitle {
  text-align: center;
  font-size: 6px;
}

.title {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .playerTitle {
    font-size: 9px;
  }
  
  .title {
    font-size: 150%;
  }
  
}